/cppprimer/chapter12/free_memory_shared_ptr/.vs
/cppprimer/chapter12/free_memory_shared_ptr/Debug
/cppprimer/chapter12/free_memory_shared_ptr/free_memory_shared_ptr.VC.db
/cppprimer/chapter12/free_memory_shared_ptr/free_memory_shared_ptr.VC.VC.opendb
